{% schema %}
{
  "name": "Image Block",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Image setting"
    },
    {
      "type": "image_picker",
      "id": "ctf_image_picker",
      "label": "Pick Your Image"
    }
  ],
  "blocks": [{ "type": "text" }, { "type": "ctf_button" }, { "type": "count_down" }],
  "presets": [{ "name": "Image" }]
}
{% endschema %}

<div class="ctf-carousel-cell">
  {% if block.settings.ctf_image_picker %}
    {{
      block.settings.ctf_image_picker
      | image_url: width: block.settings.ctf_image_picker.width
      | image_tag:
        widths: ['100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000'],
        sizes: '100vw',
        class: 'ctf-img-item w-100 h-100 object-fit-cover top-0 start-0',
        loading: 'eager'
    -}}
  {%- else %}
    <div class="ctf-img-item w-100 h-100 object-fit-cover top-0 start-0">
      {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  {% content_for 'blocks' %}
</div>
