{{ 'component-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

<div class="container-content" style="display: flex">
  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Image Group",
  "tag": null,
  "blocks": [{ "type": "image-block" }],
  "settings": [],
  "presets": [
    {
      "name": "Image Group"
    }
  ]
}
{% endschema %}
